* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* ESTO SE APLICARA PARA TODAS LA PAGINAS ENLAZADAS A ESTE ARCHIVO CSS */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../imagenes/background\(BODY\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #000;
    height: 65px;
    width: 100%;
    margin-bottom: 40px;
}

header h1 {
    font-size: 25px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 40px;
}

header li {
    width: 50px;
    transform: translateX(22px) translateY(3px);

}

nav {
    background-color: #000;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.header-container {
    width: 95%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;
}

.JES {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.JES img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.JES-nom h3 {
    font-size: 12px;
    margin-top: 1px;
}

footer {
    background-color: #000;
    color: #FFF;
    border-top: 1px solid #FFF;
    font-size: 12px;
    height: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* a_ayuda-soporte */

.mensajes {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.mensajes-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.mensajes-container figure {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.mensajes-container img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.mensajes-container h4 {
    color: #FFF;
    margin-top: 10px;
    text-align: center;
}

.mensajes-container p {
    color: #FFF;
    text-align: center;
    margin-top: 40px;
}

#botones-container {
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#scroll-container {
    display: flex;
    overflow: hidden;
}

#scroll-left, #scroll-right {
    background-color: #000;
    color: #FFF;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* a_horario-estudiante */

.selector {
    border-radius: 20px;
    margin: 0 auto;
    height: 50px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selector-alt {
    background-color: rgba(0, 0, 0, 0.65);
    width: 250px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#select {
    background-color: rgba(0, 0, 0, 0.65);
    color: #FFF;
    border: none;
    font-size: 18px;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.current span {
    color: #84B6F4;
}

.tabla-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.tabla-horario {
    /* border: 1px solid #FFF; */
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0 auto;
    color: #FFF;
    height: 380px;
    width: 1000px;
    border-radius: 10px;
}

.tabla-horario-estudiante {
    margin-bottom: 40px;
}

.tabla-centrar {
    padding: 65px 0;
}

.tabla-horario th {
    background-color: #000;
}

.tabla-horario td {
    text-align: center;
}

.tabla-calificacion th,.tabla-calificacion td {
    min-width: 180px;
    height: 70px;
}
.tabla-calificacion td {
    background-color: #0000003b;
}
.tabla-calificacion .nota-final {
    border: none;
    background: linear-gradient(180deg, #0000003b 0%, #000 100%);
}

.tabla-calificacion-centrar {
    width: 80%; 
    margin-left: 120px; 
    overflow-x: scroll; 
    overflow-y: hidden;
    border-radius: 20px; 
    height: 420px;
}

.tabla-calificacion-centrar::-webkit-scrollbar {
width: 10px;
background-color: #000;

border: 1px solid rgba(255, 255, 255, 0.185);
border-radius: 10px;
}
.tabla-calificacion-centrar::-webkit-scrollbar-thumb {
    background-color: #ffc83d50;
    border-radius: 5px;
}

/* a_registro-estudiantes y profesores */

.tabla-registro {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 15px;
    width: 1150px;
    height: 300px;
    text-align: center;
}

.tabla-registro th {
    height: 20px;
}

.tabla-registro td {
    background-color: #000;
    font-size: 14px;
    height: 50px;
}

.tabla-registro td img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.tabla-registro td .editar {
    width: 25px;
    height: 25px;
}

/* p_calificacion-seccionA */

.select-calificacion {
    display: flex;
    justify-content: center;
}

#select-calificacion {
    background-color: rgba(0, 0, 0, 0.65);
    color: #FFF;
    border: none;
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contendor informacion */
.contenedor-info {
    background-color: rgba(0, 0, 0, 0.65);
    height: 250px;
    width: 80%;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-info p {
    color: #FFF;
    text-align: center;
}

.contenedor-info img {
    height: 100px;
    width: 100px;
    margin: 15px 0;
}

.horizontal {
    color: #FFF;
    font-size: 22px;
    height: 150px;
    width: 550px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.horizontal h4 {
    font-size: 18px;
}

.vertical {
    font-size: 18px;
    color: #FFF;
    text-align: center;
    position: absolute;
}

.flecha-regresar {
    position: relative;
}

.flecha-regresar img {
    width: 30px;
    height: 30px;
    transform: translateX(-120px) translateY(-60px);
}

/* RESPONSIVE */

/* Desktop */
@media screen and (min-width: 901px) and (max-width: 1200px) {
    * {
        font-size: 16px;
    }

    header h1 {
        font-size: 20px;
    }

    /* TABLAS DE REGISTRO */
    .selector-alt .current {
        font-size: 16px;
    }

    .selector {
        width: 600px;
    }

    .selector-alt {
        width: 200px;
        height: 50px;
    }

    #select {
        height: 50px;
    }

    .tabla-registro {
        width: 80%;
    }

    .tabla-registro th {
        font-size: 14px;
    }

    /* TABLAS DE HORARIO */
    .tabla-horario {
        width: 80%;
    }
}

/* Célulares */
@media screen and (max-width: 600px) {
    * {
        font-size: 14px;
    }

    .menu-navegador {
        width: 100px;
        margin-right: 5px;
    }

    .menu-navegador img {
        height: 20px;
        padding: 0 3px;
    }

    header h1 {
        font-size: 16px;
    }

    header h3 {
        display: none;
    }

    #botones-container {
        width: 150px;
    }

    #scroll-right, #scroll-left {
        height: 40px;
        width: 40px;
    }

    /* TABLAS DEL REGISTRO ESTUDIANTE/PROFESOR */

    #select {
        font-size: 12px;
        height: 40px;
        width: 70px;
        margin-right: 30px;
    }

    .selector a {
        font-size: 14px;
    }

    .selector-alt {
        height: 40px;
        width: 150px;
    }

    .selector-alt .current, span {
        font-size: 10px;
    }

    .selector {
        width: 300px;
    }

    .tabla-registro {
        width: 90%;
        height: 300px;
    }

    .tabla-registro th, .tabla-registro td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tabla-registro th {
        font-size: 10px;
        height: 30px;
        width: 100px;

    }

    .tabla-registro td {
        font-size: 10px;
        width: 100px;
    }

    .tabla-registro td .editar {
        height: 20px;
        width: 20px;
    }

    .tabla-registro td img {
        height: 25px;
        width: 25px;
    }

    /* TABLAS DE HORARIO PROFESOR/ESTUDIANTE */
    main {
        padding-bottom: 200px;
    }

    .tabla-horario {
        width: 80%;
        height: 400px;
    }

    .tabla-horario th {
        height: 40px;
        width: 80px;
    }

    .tabla-horario td {
        font-size: 10px;
    }

    /* CALIFICACIONES POR SECCIONES */
    #select-calificacion {
        width: 100px;
        height: 40px;
    }
}

/* TABLETS */
@media screen and (min-width: 601px) and (max-width: 900px) {

    /* Tablas de registro */
    * {
        font-size: 14px;
    }

    main {
        padding-bottom: 250px;
    }

    .header-container {
        width: 100%;
    }

    .header-container h1 {
        font-size: 20px;
    }

    .menu-navegador {
        width: 110px;
        height: 30px;
        margin-right: 10px;
    }

    .menu-navegador img {
        width: 20px;
        margin: 0 5px;
        padding-top: 2px;
    }

    .selector {
        width: 50%;
        padding: 0 20px;
    }

    .selector-alt {
        height: 40px;
        width: 50%;
        border-radius: 20px;
    }

    .selector-alt a {
        font-size: 14px;
    }

    .tabla-registro {
        width: 80%;
        margin-left: 100px;
    }

    .tabla-registro td {
        font-size: 12px;
    }

    .tabla-registro td img {
        height: 30px;
        width: 30px;
    }

    /* Horarios */
    #select {
        height: 40px;
        width: 80px;
    }

    .tabla-container {
        width: 100%;
    }

    .tabla-horario {
        margin-left: 80px;
        width: 80%;
    }

    /* Área de Cálificaciones */
    #select-calificacion {
        width: 100px;
        height: 45px;
    }

    .tabla-registro th {
        height: 30px;
    }
}