* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url(../imagenes/background\(BODY\).jpg);
    background-size: cover;
}

/* Header de las paginas que usaran todos excluyendo a las paginas index.html y problemas-al-iniciar.html */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../imagenes/background\(BODY\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #000;
    height: 65px;
    width: 100%;
    margin-bottom: 40px;
}

header h1 {
    font-size: 20px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 40px;
}

header li {
    width: 50px;
    transform: translateX(22px) translateY(3px);

}

nav {
    background-color: #000;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.header-container {
    width: 95%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;
}

.JES {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.JES img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.JES-nom h3 {
    font-size: 12px;
    margin-top: 1px;
}

footer {
    background-color: #000;
    color: #FFF;
    border-top: 1px solid #FFF;
    font-size: 12px;
    height: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER DE LAS PAGINAS HOMES */
.header-home-container {
    background-color: #00000000;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 95%;
    margin-left: 20px;
}

.logo-jes-home img {
    width: 280px;
    height: 240px;
    position: relative;
    bottom: 50px;
}

.jes-nombre-home {
    text-align: center;
}
/* MAIN / CENTRO */

.importante{
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    position: relative;
    border: 1px solid #FFF;
    margin:  20px auto;
    height: 550px;
    width: 80% ;
    border-radius: 30px ;
}

.perfil img {
    height: 160px;
    width: 160px;
    margin-top: 40px;
    margin-left: 80px;
}

.info-estudiante, .relacionado {
    height: 300px;
    position: relative;
    display: flex;
    flex-wrap: wrap ;
}

div .nombre {
    margin-left: 300px  ;
    margin-top: -100px ;
}

.nombre h4 {
    margin-left: 30px;
}

h4 {
    font-size: large;
    color: rgba(137, 127, 127, 0.83);
    margin-left: 15px;
}

p {
    font-size: x-large;
}

div .apellido {
    margin-left: 150px  ;
    margin-top: -100px ;
}

.apellido h4 {
    margin-left: 30px;
}

div .grado {
    margin-left: 150px  ;
    margin-top: -100px ;
} 

.grado h4 {
    margin-left: 10px;
}

.grado p{
  margin-left: 10px;
}


div .fecha-nacimiento {
    margin-left: 50px;
    margin-top: -100px ;
}

.fecha-nacimiento p {
    margin-left: 30px;
}

div .email {
    margin-left: 60px;
    margin-top: -100px;
}

.email h4 {
    margin-left: 70px;
}

div .id {
    margin-left: 100px;
    margin-top: -100px;
}

.id h4 {
    margin-left: 30px;
}

div .genero {
    margin-left: 140px;
    margin-top: -100px;
}

/* ASIDE / INFORMACION RELACIONADA */
aside .relacionado {
    display: inline;
    flex-direction: column;
    flex-wrap: nowrap;
}

div #titulo {
    position: absolute;
    font-size: large;
    color: rgba(255, 201, 61, 1);
    left: 40%;
    top: -210px ;
}

#datos-padres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    transform: translateY(-150px);
}

.nombre-padre h4, .direccion h4 {
    margin-left: 60px;
}

.numero-padre h4 {
    margin-left: 30px;
}

/* footer {
    background-color: #000;
    color: #FFF;
    border-top: 1px solid #FFF;
    font-size: 12px;
    height: 30px;
     margin-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* PERFIL PROFESOR */

.info-Profesor {
    display: flex;
    flex-wrap: wrap;
}

div .seccion {
    margin-top: 80px;
    transform: translateX(-600px);
}

.seccion p {
    position: relative;
    margin-left: 35px;
}


div .abajo {
    display: flex;
    flex-direction: column;
}

.abajo  ul li {
    transform: translateX(400px);
    margin-top:75px ;
}

div .nacimiento {
    transform: translateX(-300px) translateY(-20px);
    margin-top: 90px ;
    margin-left: 40px;
}

.nacimiento h4 {
    margin-left: 30px;
}

div #genero {
    margin-left: 480px;
    margin-top: -150px;
}

div #grado {
    margin-left: 150px  ;
    margin-top: -100px ;
} 

#grado h4 {
    margin-left: 10px;
}

#grado p{
  margin-left: 30px;
}

div #id {
    margin-left: 100px ;
    margin-top: -150px;
}

#id h4 {
    margin-left: 30px;
}

div #numero {
    transform: translateX(-260px) translateY(-20px);
}

#numero h4 {
    margin-left: 30px;
}

div #email {
    margin-left: 30px;
    margin-top: -150px;
}

#email h4 {
    margin-left: 80px;
}

div .asignatura {
    margin-left: 450px;
    margin-top: -150px;
}

.asignatura h4 {
    margin-left: 40px;
}

/* PERFIL ADMINISTRADOR */

main .titulo{
    margin-left: 450px;
    position: relative;
    top: 60px;
    font-size: 200%;
    color: rgba(132, 182, 244, 0.67);
}

#cuerpo {
    display: flex;
    justify-content: space-between;
    position: relative;
}

div .nom-Admi {
    transform: translateX(200px);
}

.editar{
    position: absolute;
    top: 130px;
    right: 170px;
}

/* ASIDE --- PERFIL ADMINISTRADOR */
aside {
    color: #fff;
}

.perfil-Admin img {
    display: flex;
    align-items: center;
    height: 180px;
    width: 180px;
    transform: translateY(-400px);
    margin-left: 580px;
}

div #nom-Admi {
    position: relative;
    left: 200px ;
    top: 200px;
}

#nom-Admi h4 {
    font-size: 20px;
}

#nom-Admi p {
    font-size: 30px;
    margin-left: 5px;
}

div #apellido-Admi {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: 190px;
}

div .id-Admi {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    transform: translateY(400px);
    margin-right: 480px;
    margin-bottom: 120px;
}

.id-Admi h4 {
    margin-left: 40px;
}

/* PERFIL (ESTUDIANTE Y PROFESOR) PARA EL ADMINISTRADOR */

#editor, #editar {
    position: absolute;
    top: 130px;
    right: 170px;
}

#titulo-admi {
    position: absolute;
    color: rgba(132, 182, 244, 1);
    left: 515px;
    bottom: 240px;

}

/* Asignacion de Horaro para el Administrador */

.contenedor-info {
    background-color: rgba(0, 0, 0, 0.65);
    height: 250px;
    width: 70%;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-info p {
    color: #FFF;
    text-align: center;
}

.contenedor-info img {
    height: 100px;
    width: 100px;
    margin: 15px 0;
}

.horizontal {
    
    height: 150px;
    width: 550px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vertical {
    position: absolute;
}

.flecha-regresar {
    position: relative;
}

.flecha-regresar img {
    width: 30px;
    height: 30px;
    transform: translateX(-120px) translateY(-60px);
}

.tabla-horario {
    border: 1px solid #FFF;
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0 auto;
    color: #FFF;
    height: 380px;
    width: 70%;
    border-radius: 10px;
}

.tabla-centrar {
    padding: 50px 0;
}

.tabla-cabecera {
    background-color: #000;
}

.tabla-horario td {
    text-align: center;
}

.tabla-horario th {
    background-color: #000;
    width: 150px;
}

/* Departamentos admin y profesores */
.section-secciones-container {
    border: 0.5px solid gray;
    width: 800px;
    height: 400px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 20px;
}

.section-secciones-container article {
    width: 98%;
    margin: 0 auto;
    height: 133px;
    text-align: center;
}

.article-secciones-border {
    border-bottom: 2px solid #FFF;
}

.section-secciones-container a {
    position: relative;
    color: white;
    text-decoration: none;
}

.main-departamentos-container {
    padding-bottom: 125px;
}

.section-secciones-container h2 {
    line-height: 120px;
}